{% extends 'shop/basic.html' %}
{% block title %}CRAZY PLACE- ABOUT {% endblock %}
{% block body %}
 <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">CRAZY PLACE</h1>
        <p><b>CRAZY PLACE</b> is a blogging website. Here you will see many informative blogs. Mainly we have four categorized our blogs in four different types. These are Development, Science, Education and technology. We are covering a lot of things in our blogs. All these blogs are helpful for you in study purposes. You will get to learn soo much about technology in our blogging website. Here our Main category is Technology. You will get to learn soo much about development in our blogging website, like software development, web development. You will get to learn soo much about scientific research in our blogging website. Also get to know different scientist's researches. You will get to learn soo much about education in our blogging website. Here we cover a lot about education.</p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-6 my-5">
        <h2>Abdul Rehman</h2>
        <p>Abdul Rehman is a developer of Crazy Place.He Developed this blogging website for learning purposes. He is a professional web developer(Python Guy).</p>
      </div>
      <div class="col-md-6 my-5">
        <h2>Organization</h2>
        <p><b>CRAZY PLACE</b> is a blogging website. Here you will see many informative blogs. Mainly we have four categorized our blogs in four different types. These are Development, Science, Education and technology. We are covering a lot of things in our blogs. All these blogs are helpful for you in study purposes. You will get to learn soo much about development in our blogging website, like software development, web development.</p>
      </div>
      <div class="col-md-4">
    </div>
    <hr>
  </div> <!-- /container -->
     </main>
   </div>

     <footer>
       <div class="container col" style="background-color: black; text-align: center">
         <div class="row">
           <div class="col" style="color: lightsteelblue">
             <h2>ABOUT CRAZY PLACE</h2>
             <p><b>CRAZY PLACE</b> is a blogging website. Here you will see many informative blogs. Mainly we have four categorized our blogs in four different types. These are Development, Science, Education and technology. We are covering a lot of things in our blogs. All these blogs are helpful for you in study purposes.You will get to learn soo much about development in our blogging website, like software development, web development.</p>
           </div>
           <div class="col" style="color: lightsteelblue; text-align: center">
             <h2>CONTACT</h2>
		<i class="material-icons"  style="font-size:26px">home</i> Gujranwala,Pakistan <br>
		<i class="material-icons"  style="font-size:26px">phone</i> 03337440237 <br>
		<i class="material-icons"  style="font-size:26px">mail</i> abdulrehman7440237@gmail.com <br>
		<i class="fa fa-instagram" style="font-size:24px"></i> Vilen
           </div>
         </div>
       </div>
     </footer><br>
{% endblock %}
